<div class="container container-fluid">
  <div class="alert alert-success">
    <p id="notice" align="center" ><%= notice %></p>
  </div>

  <p>
    <strong>Description:</strong>
    <%= @task.description %>
  </p>

  <%= link_to 'Edit', edit_task_path(@task) %> |
  <%= link_to 'Back', tasks_path %>
</div>
