<div class="page-header">
  <div class="pull-right">
    <%= link_to "New User", new_user_path, class: "btn btn-info" %>
  </div>
  <h1>Users</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>E-mail</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="table-spacing"><%= user.first_name %> <%=user.last_name %></td>
        <td class="table-spacing"><%= mail_to user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
