<div class="page-header">
  <%= link_to "New Project", new_project_path, class:"btn btn-info pull-right", id:"new-project-action" %>
  <h1>Projects</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
    <tr>
      <td><%= link_to "#{project.name}", project_path(project), id: "show-project-#{project.id}-action" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
