
<div class="container container-fluid">
  <div class="col-md-8">
    <h1>Frequently Asked Questions</h1>
    <% @faq_answer.each do |question, answer| %>
      <p><b><%= question %></b></p>
      <p><%= answer %></p>
    <% end %>
  </div>
</div>
