<div class="container-fluid">
  <h1>About</h1>
  <div class="row">
    <div class="col-md-4"><%= image_tag 'meeting-152506_640 copy.png', class: 'img-responsive'%></div>
    <div class="col-md-8">
      <p>We are dedicated the makers, creators, the risk-takers.
        We wake up in the middle of the night and furiously write down
        ideas about how to make your online life better.
      </p>
      <p>When we're not hard at work, we're hard at play - we're the loud
        ones in the bar, and we're always the ones shutting the place down.
        Human communication and collaboration is what drives us and it infuses
        every feature of gCamp.
      </p>
    </div>
</div>
</div>
