// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.link-color {
  color: red;
}

tr {
  border-top : 1px solid #dddddd;
}

tr:first-child {
  border-top:none;
}
